body{
    margin: 0;
    background-image: url("../img/ClearWEBBG4K.png");
    background-repeat: no-repeat;
    background-size: cover;
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        .whitebackground{
            flex-direction: column;
            border-radius: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.772);
            .status{
                padding: 10px 0px 10px 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .greenCircle{
                    margin-left: 10px;
                    width: 15px;
                    height: 15px;
                    background-color: green;
                    border-radius: 20px;
                }
            }
            
        }
    }
    .content{
        padding-top: 70px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .whitebackground{
            margin-bottom: 50px;
            flex-direction: column;
            border-radius: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: rgba(255, 255, 255, 0.772);
            .line{
                width: 800px;
                background-color: rgba(128, 128, 128, 0.382);
                height: 2px;
            }
            .header{
                padding-bottom: 20px;
                width: 800px;
                .left, .col{
                    align-items: center;
                    display: flex;
                    h3{
                        margin: 0px !important;
                    }
                }
                .middle{
                    display: flex;
                    justify-content: center;
                    width: auto;
                    .statusCircle{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
                .right{
                    display: flex;
                    justify-content: right;
                }
                .greenCircle{
                    margin-left: 10px;
                    width: 15px;
                    height: 15px;
                    background-color: green;
                    border-radius: 20px;
                }
            }
            .sites{
                width: 800px;
                .site{
                    padding-top: 20px;
                    .left, .col{
                        align-items: center;
                        display: flex;
                        h4{
                            margin: 0px !important;
                        }
                    }
                    .middle{
                        display: flex;
                        justify-content: center;
                        width: auto;
                        .statusCircle{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        justify-content: right;
                    }
                    .greenCircle{
                        margin-left: 10px;
                        width: 15px;
                        height: 15px;
                        background-color: green;
                        border-radius: 20px;
                    }
                }
                
            }
            
        }
    }
}